* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
  moz-scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  background-color: #171717;
  color: #000;
  line-height: 1.6;
  position: relative;
}
.main {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #171717;
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  -webkit-animation: drop 45s 0s infinite;
  animation: drop 45s 0s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line:nth-child(1) {
  margin-left: 25%;
}
.line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.line:nth-child(2) {
  margin-left: -25%;
}
.line:nth-child(2)::after {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.line:nth-child(3) {
  margin-left: 0;
}
.line:nth-child(3)::after {
  -webkit-animation-delay: 1.75s;
  animation-delay: 1.75s;
}

@-webkit-keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

.container {
  width: 90vw;
  height: 700px;
  background-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.glass {
  position: relative;
  width: 800px;
  height: 200px;
  background-color: #060606;
  opacity: 0.4;
  border-radius: 15px 10px 10px 15px;
  border: 3px dashed;
}

.header {
  background: #ffffff;
  border-radius: 15px 10px 0px 0px;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header h3 {
  margin-top: 0px;
}

.img1 {
  opacity: 1;
}

.icons {
  width: 100%;
  height: 40%;
  opacity: 1;
}

.iconset {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.iconset a {
  margin-left: 24px;
}

.fa {
  margin-top: 5px;
  color: rgb(100, 110, 110);
  width: 55px;
  z-index: 3;
  opacity: 2;
  animation: slowHover 4s ease-in-out infinite;
}

.fa:hover {
  color: white;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation: none;
  animation-delay: 9999s;
}

.fa-instagram {
  animation-delay: 1s;
}

.fa-twitter-square {
  animation-delay: 1.25s;
}

.fa-stack-overflow {
  animation-delay: 1.5s;
}

.fa-github-square {
  animation-delay: 1.75s;
}

.fa-youtube-square {
  animation-delay: 2s;
}

.fa-reddit-square {
  animation-delay: 2.25s;
}

.fa-code {
  color: gray;
  position: relative;
  left: 49%;
  animation: none;
}

.fa-code:hover {
  color: black;
  animation: none;
}
@keyframes slowHover {
  0% {
    transfrom: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.affiliate {
  font-size: 10px;
  position: relative;
  color: gray;
}
.affiliate span {
  color: darkred;
}

.skill {
  position: fixed;
  font-size: 18px;
  left: 90%;
  width: 120px;
  text-align: center;
  border-radius: 10px 0 10px 0;
  display: flex;
  background-color: gray;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.myskills {
  position: sticky;
  display: none;
  right: 0;
  padding-top: 10px;
  padding-left: 5px;
  overflow: hidden;
}

.myskills a {
  color: gray;
  text-decoration: none;
}
.myskills a:hover {
  color: darkslategray;
}

.myskills a:active {
  color: black;
}
.myskills a:visited {
  color: black;
}

.skill:hover .myskills {
  animation: dropdownfunc 2s ease-out forwards;
  display: block;
}

.skill:hover p {
  text-underline-position: above;
  text-decoration-color: black;
  text-decoration-line: underline;
  text-decoration-thickness: bold;
}
.skill:hover {
  animation: slowTransparent 1s ease forwards;
  color: gray;
  border: 1px dashed gray;
}

@keyframes slowTransparent {
  0% {
    background-color: rgba(128, 128, 128, 1);
  }
  100% {
    background-color: #171717;
  }
}
.javascript img,
.javas img,
.nodejs img,
.html5 img,
.css3 img,
.python img,
.restapi img,
.react img,
.discordjs img,
.mongodb img,
.sqlite3 img,
.electron img {
  height: 16px;
  width: 16px;
  margin-right: 3px;
  border-radius: 50%;
}
.herokux img {
  height: 16px;
  width: 16px;
  margin-right: 3px;
  border-radius: 50%;
}
.luax img {
  height: 16px;
  width: 16px;
  margin-right: 3px;
  border-radius: 50%;
}

.javascript,
.javas,
.nodejs,
.html5,
.css3,
.python,
.restapi,
.react,
.discordjs,
.mongodb,
.sqlite3,
.electron,
.herokux,
.luax {
  font-size: 18px;
  color: darkslategrey;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@keyframes dropdownfunc {
  0% {
    opacity: 0;
    height: 30px;
  }
  100% {
    opacity: 1;
    height: 410px;
  }
}

.js,
.py,
.html,
.css,
.java,
.rest,
.reactjs,
.node,
.discord,
.mongo,
.sqlite,
.electronjs,
.heroku,
.lua {
  position: relative;
  width: 100%;
  height: 400px;
  background: transparent;
  border-top: 10px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  flex-direction: column;
}

.js h1,
.py h1,
.html h1,
.css h1,
.java h1,
.rest h1,
.reactjs h1,
.node h1,
.discord h1,
.mongo h1,
.sqlite h1,
.electronjs h1,
.heroku h1,
.lua h1 {
  position: relative;
  margin-bottom: 65px;
  color: rgb(114, 100, 100);
}

.jspan,
.pyspan,
.html5span,
.css3span,
.javaspan,
.restspan,
.reactjsspan,
.nodespan,
.discordspan,
.mongospan,
.sqlitespan,
.electronjsspan,
.herokuspan,
.luaspan {
  font-size: 64px;
  color: rgb(47, 79, 79);
}
.jspanshort,
.pyspanshort,
.html5spanshort,
.css3spanshort,
.javaspanshort,
.restspanshort,
.reactjsspanshort,
.nodespanshort,
.discordspanshort,
.mongospanshort,
.sqlitespanshort,
.electronjsspanshort,
.herokuspanshort,
.luaspanshort {
  font-size: 24px;
  color: rgb(128, 128, 128);
  padding: 5px;
}
.jslong,
.pylong,
.html5long,
.css3long,
.javalong,
.restlong,
.reactjslong,
.nodelong,
.discordlong,
.mongolong,
.sqlitelong,
.electronjslong,
.herokulong,
.lualong {
  font-size: 48px;
  padding: 4px;
}
.jsshort,
.pyshort,
.html5short,
.cssshort,
.javashort,
.restshort,
.reactjsshort,
.nodeshort,
.discordshort,
.sqliteshort,
.electronjsshort,
.herokushort,
.luashort {
  font: 12px;
}

.landscapefor {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
}
.fullmain {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .landscapefor {
    display: block;
  }
  .fullmain {
    display: none;
  }
  body {
    background: plum;
  }
}
